@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 id="tituloLogin">ACOMPANHE EM TEMPO REAL</h1>
    <div class="image-grid">
        @for (int i = 0; i < 52; i++) // 4 linhas com 13 imagens
        {
            <img id="folha" src="~/img/folha.svg" class="grid-image" alt="folhaDashboard" onclick="handleImageClick(this)" onmouseover="handleImageHover(this)">
        }
    </div>
</div>

<script>
    // Evento ao clicar na imagem
    function handleImageClick(image) {
        location.reload();
    }

    // Evento ao passar o mouse pela imagem
    function handleImageHover(image) {
        image.style.cursor = "pointer";
    }
</script>