@{
    ViewData["Title"] = "Quem Somos";
}

<div id="quemSomos">
    <h1 id="quemTitulo">QUEM SOMOS</h1>
    <div id="quemTextoContainer">
        <div id="quemTexto">
            <p>O projeto tem como objetivo principal o desenvolvimento de um sistema de drones inovador, direcionado ao setor agrícola, com foco em solucionar problemas relacionados à detecção e ao manejo de pragas em plantações. Este sistema utiliza tecnologia avançada para identificar pragas e, com base em protocolos bioéticos, eliminá-las ou capturá-las de maneira ambientalmente responsável, evitando o uso de agrotóxicos e contribuindo para uma agricultura mais sustentável e saudável.</p>
	        <p>Além de atuar no controle de pragas, o sistema também oferece funcionalidades que permitem o monitoramento remoto e contínuo das condições das plantações. Com o auxílio de sensores integrados, os drones capturam dados relevantes sobre o estado das plantas, como umidade, temperatura e possíveis sinais de estresse, e transmitem essas informações para um software acessível e intuitivo. Este software centraliza os dados coletados, permitindo que o usuário acompanhe em tempo real o desempenho de suas plantações e tome decisões baseadas em dados concretos, otimizando recursos e aumentando a produtividade.</p>
	        <p>No estágio atual do projeto, o foco está no desenvolvimento de um website que servirá como vitrine para o conceito e as vantagens desse sistema revolucionário. O site será direcionado a dois públicos principais: os técnicos especializados em pilotagem de drones e os proprietários do agronegócio, que poderão se beneficiar diretamente da aplicação prática do sistema. Além de detalhar as funcionalidades, benefícios e a tecnologia empregada, o site permitirá que os visitantes interessados solicitem orçamentos personalizados, facilitando o acesso ao serviço e reforçando a conexão com o público-alvo.</p>
	        <p>Com essa proposta, o projeto não apenas busca integrar inovação tecnológica e sustentabilidade no setor agrícola, mas também posiciona os drones como uma ferramenta indispensável para a modernização do campo, promovendo práticas ambientalmente conscientes e economicamente viáveis.</p>
        </div>
        <div id="whoImage">
            <img src="~/img/who.png" alt="who">
        </div> 
    </div>
</div>